#recommends{
	margin-top: 2%;
    margin-bottom: 2%;
}
#recommends > *[data-status='error']{
	background-color: lightgray;
	padding: 2%;
	width: 90vw;
}
#recommends > *[data-status='error'] h3{
	margin-top: 1%;
    margin-bottom: 1%;
    font-size: 150%;
    font-weight: bold;
}
#recommends > *[data-status='error'] span{
	margin-top: 1%;
    margin-bottom: 1%;
    font-size: 110%;
}
