html, body, ion-title, #storesGrid{
	font-family: 'PT Sans', sans-serif;
}

ion-title{
	font-size: 120%;
	color: white;
}

#storesGrid{
	padding: 1%;
	margin-top: 2%;
}
#storesGrid > header {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #00bfff;
}
#storesGrid > main{
	display: block;
	margin-top: 2%;
    margin-bottom: 2%;
}
#storesGrid > main a{
	display: block;
	font-size: x-large;
	padding: 2%;
	width: 90vw;
	color: white;
	background-color: red;
	margin-top: 1cm;
    margin-bottom: 1cm;
}
#storesGrid > footer{
	padding: 1%;
	margin-top: 2%;
}
#storesGrid > footer #header{
	font-size: xx-large;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #00bfff;
}
